[submodule "ADCJapan26/surge"]
	path = ADCJapan26/surge
	url = https://github.com/kcoul/surge.git
	branch = main
[submodule "ADCJapan26/GENISYS"]
	path = ADCJapan26/GENISYS
	url = https://github.com/kcoul/GENISYS.git
[submodule "libs/JUCE"]
	path = libs/JUCE
	url = https://github.com/kcoul/JUCE.git
	branch = port/juce9
[submodule "libs/tracktion_engine"]
	path = libs/tracktion_engine
	url = https://github.com/kcoul/tracktion_engine.git
	branch = port/juce9
