*.user

SDKs

build
build-ios

cmake-build
cmake-build-debug
cmake-build-release
cmake-build-relwithdebinfo
cmake-build-debug-remote-pi
cmake-build-release-remote-pi
cmake-build-relwithdebinfo-remote-pi
cmake-build-debug-visual-studio
cmake-build-release-visual-studio
cmake-build-relwithdebinfo-visual-studio

CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store
*.entitlements
*.cpb
Makefile

workspace.xml
xcuserdata
/Apps/SerumStandAlone/Builds/MacOSX/RecentFilesMenuTemplate.nib

#in-source JUCE copy
**/JUCE/
